<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.axfex.dorkout">

    <application
        android:name=".WorkoutApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.workouts.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.trash.edit.EditWorkoutActivity" />
        <activity
            android:name=".views.trash.edit.exercises.list.ExercisesActivity"
            android:label="@string/title_activity_exercises"
            android:parentActivityName=".views.workouts.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.workouts.MainActivity" />
        </activity>
        <activity
            android:name=".views.trash.edit.exercises.addedit.AddEditExerciseActivity"
            android:label="@string/title_activity_add_edit_exercise" />
        <activity android:name=".views.reminder.ReminderActivity" />
        <activity
            android:name=".views.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme"/>
        <service android:name=".services.ActionWorkoutService"
            android:exported="false"/>


    </application>

</manifest>